//------------------------------------------------ 
//- START COMPONENT
mixin several-header(h2, p1, p2)
  header.several-header
    h2.several-h2= h2
    hr.several-hr
    p= p1
    p= p2
|
mixin serv(num, icon, h3, pragraph)
  div(class= num)
    i(class= icon)
    div
      h3= h3
      p= pragraph
//- END COMPONENT
//- -----------------------------------------------
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="this page for kasper template")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kasper | One Page PSD Template
    include includes/links
  body
    //- START MAIN
    main
      .container
        nav
          .logo: img(src="image/logo.png", alt="logo")
          ul
            -var list=["HOME", "SERVICES", "PORTFOLIO", "ABOUT", "PRICING", "CONTACT"]
            for item in list 
              li: a(href="#")=item
          .search | #[i(class="fas fa-search")]
      section.landing 
        h2 Hello World! #[br] We Are Kasper We Make Art.
        p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
        .icon
          i(class="fas fa-angle-left fa-2x")
          i(class="fas fa-angle-right fa-2x")
      .circle  
        .circle-one
        .circle-two
        .circle-three
    //- END MAIN
    //- -----------------------------------------------
    //- START SERVICE SECTION
    section.service 
      .container
        +several-header('SERVICES','Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris', 'blandit aliquet elit, eget tincidunt.')
        article
          +serv("one serv","fas fa-desktop fa-3x","Vorem amet intuitive","Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.")
          +serv("two serv","fas fa-cog fa-3x","Vorem amet intuitive","Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.")
          +serv("three serv","fas fa-pencil-ruler fa-3x","Vorem amet intuitive","Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.")
          +serv("four serv","fas fa-camera fa-3x","Vorem amet intuitive","Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.")
    //- END SERVICE SECTION
    //- -----------------------------------------------
    //- START OUR DESIGN SECTION 
    section.design
      .image: img(src="image/mobile.png", alt="mobile")
      article
        h2 Hello World!We Are Kasper We Make Art.
        - var prags= ["Responsive Design", "Modern And Clean Design", "Clean Code", "Browser Friendly"]
        each pra in prags
          p: i(class="fas fa-desktop") #{pra}
          
          
        
    //- END OUR DESIGN SECTION
    //- ---------------------------------------------
    //- Start services

    //- End services
    //- ----------------------------------------------
    //- Start portfolio  -->

    //- End portfolio -->
    //- ----------------------------------------------
    //- Start about  -->

    //- End about -->
    //- ----------------------------------------------
    //- Start contact -->

    //- End contact -->
    //- ----------------------------------------------
    //- Start footer -->

    //- End footer -->